<%
## Tangent, an online sign-up sheet
## Copyright (C) 2008 Justin Ludwig and Adam Stuenkel
## 
## This program is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License
## as published by the Free Software Foundation; either version 2
## of the License, or (at your option) any later version.
## 
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
## 
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
## 02110-1301, USA.
-%>

<% @page_title = "Email #{@person}" %>
<h1>Email <%= link_to @person, @person %></h1>

<% form_tag send_email_person_path do %>

<%= property_line_tag text_field_tag('subject', params[:subject], :class=> 'medium'), 'subject', :required => true %>
<%= property_line_tag text_area_tag('body', params[:body], :class => 'long', :rows => 10), 'body', :required => true %>

<div class="buttons">
    <%= styled_submit_tag 'Send', :style => 'width:6em;' %>
    <%= styled_button_to_back 'Cancel', :style => 'width:6em;' %>
</div>

<% end %>
