<%
## Tangent, an online sign-up sheet
## Copyright (C) 2008 Justin Ludwig and Adam Stuenkel
## 
## This program is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License
## as published by the Free Software Foundation; either version 2
## of the License, or (at your option) any later version.
## 
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
## 
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
## 02110-1301, USA.
-%>

<% if logged_in? %>
    <% @page_title = "Create Person" %>
    <h1>Create Person</h1>

<% else %>
    <% @page_title = "Register" %>
    <h1>Register</h1>
    <p>You can create your own sign-up sheets once you register.</p>
<% end %>

<%= error_messages_for :person %>

<% form_for(@person, :builder => ApplicationFormBuilder) do |f| %>

<%= f.property_line :text_field, :display_name, :required => true %>
<%= f.property_line :text_field, :email, :required => true %>
<%= f.property_line :password_field, :password, :required => true, :description => "at least 8 characters" %>
<%= f.property_line :password_field, :password_confirmation, :required => true, :description => "must match password" %>

<div class="buttons">
    <%= f.styled_submit logged_in? ? "Create" : "Register", :style => "width:7em;" %>
    <%= styled_button_to_back "Cancel", :style => "width:7em;" %>
</div>

<% end %>
