<%
## Tangent, an online sign-up sheet
## Copyright (C) 2008 Justin Ludwig and Adam Stuenkel
## 
## This program is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License
## as published by the Free Software Foundation; either version 2
## of the License, or (at your option) any later version.
## 
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
## 
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
## 02110-1301, USA.
-%>

<% @page_title = @person.display_name %>

<div class="h-container">
<h1><%=h @person.display_name %></h1>
<span class="h1-tools">
  <%= link_to "Edit", edit_person_path(@person) if has_privilege_for_person? @person, :edit_person, :edit_self %>
  <%= text_link_to_delete @person if has_privilege_for_person? @person, :delete_person, :delete_self %>
  <%= link_to "Email", email_person_path(@person) if (@person != current_person) && (@person.state == 'active') %>
</span>
</div>

<% fields_for(@person, :builder => ApplicationFormBuilder) do |f| %>

<%= f.property_line :text, :display_name %>
<%= f.property_line :text, :state %>

<% end %>
