<%
## Tangent, an online sign-up sheet
## Copyright (C) 2008 Justin Ludwig and Adam Stuenkel
## 
## This program is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License
## as published by the Free Software Foundation; either version 2
## of the License, or (at your option) any later version.
## 
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
## 
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
## 02110-1301, USA.
-%>

<% @page_title = @event.name %>

<h1><%=h @event.name %></h1>

<% fields_for(@event, :builder => ApplicationFormBuilder) do |f| %>

<fieldset>
  <legend>Event Info</legend>
<%= f.property_line :text, :name %>
<%= f.property_line :text, :description %>
<%= property_line_tag link_to_array(@event.coordinators), 'coordinators' %>
<%= f.property_line :datetime, :start_date, :label => "Start" %>
<%= f.property_line :datetime, :end_date, :label => "End" %>
<%= f.property_line :text, :tags %>
</fieldset>

<% end %>

<%= sanitize @event.details %>

<div class="buttons">
<%= styled_button_to 'Edit', edit_event_path(@event), :method => "get", :style => "width:6em;" %>
</div>
