<%
## Tangent, an online sign-up sheet
## Copyright (C) 2008 Justin Ludwig and Adam Stuenkel
## 
## This program is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License
## as published by the Free Software Foundation; either version 2
## of the License, or (at your option) any later version.
## 
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
## 
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
## 02110-1301, USA.
-%>

<% @page_title = "#{@activity.name} for #{@event.name}" %>

<h1><%=h @activity.name %> for <%=h @event.name %></h1>



<% fields_for(@event, :builder => ApplicationFormBuilder) do |f| %>

<fieldset>
  <legend>Event Info</legend>
<%= f.property_line :text, :name %>
<%= f.property_line :text, :tags %>
<%= property_line_tag link_to_array(@event.coordinators), 'coordinators' %>
<%= f.property_line :datetime, :start_date, :label => "Start" %>
<%= f.property_line :datetime, :end_date, :label => "End" %>
</fieldset>

<% end %>

<% fields_for(@activity, :builder => ApplicationFormBuilder) do |f| %>

<fieldset>
  <legend>Activity Info</legend>
<%= f.property_line :text, :name %>
<%= f.property_line :text, :tags %>
<%= f.property_line :text, :criteria %>
<%= f.property_line :text, :openings %>
<%= f.property_line :datetime, :start_date, :label => "Start" %>
<%= f.property_line :datetime, :end_date, :label => "End" %>
</fieldset>

<% end %>

<% if has_privilege_for_event? @event, :edit_events %>
<div class="buttons">
<%= styled_button_to 'Edit', edit_activity_path(@activity), :method => "get", :style => "width:6em;" %>
</div>
<% end %>

<fieldset>
  <legend>My Participation</legend>
<%= property_line_tag text_tag(@participant.blank? ? "Not signed-up" : @participant.state.capitalize, :class=> "medium"), "state", :label => "Status" %>

<% if logged_in? %>
</fieldset>
<div class="buttons">
  <%= styled_button_to 'Sign Up', confirm_activity_participants_path(@activity), :style => "width:8em;" %>
</div>

<% else %>
<% form_tag confirm_activity_participants_path(@activity) do %>

<%= property_line_tag text_field_tag("email", nil, :class=> "medium"), "email", :required => true, :label => "Email" %>

</fieldset>
<div class="buttons">
  <%= styled_submit_tag "Sign Up", :style => "width:8em;" %>
</div>

<% end %>
<% end %>

<%= sanitize @activity.details %>

<% if has_privilege_for_event? @event, :view_participants %>
<table class="tbl">
<caption>Participants</caption>
<thead>
  <tr>
    <th><%= link_to_order_by "Name", "display_name" %></th>
    <th><%= link_to_order_by "Status", "state" %></th>
  </tr>
</thead>
<tbody>
<% for participant in @participants %>
  <tr class="<%= cycle("", "alt") -%>">
    <td><%= link_to h(participant.person.display_name), participant.person %></td>
    <td><%=h participant.state.capitalize %></td>
  </tr>
<% end %>
</table>
<%= links_to_page @participants %>
<% end %>

